.cabecera{
    /* margin: 134.4px auto 0 auto; */
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-image: url(../img/Fondo-Header.jpg);
    background-position: map-get($estilosIndividuales, centrado );
    background-size: cover;
    padding: 4rem 16rem;
    max-height: 100%;
    height: 85vh;
    overflow: hidden;
    display: flex;
    align-items: map-get($estilosIndividuales, centrado );

    h3{
        @include tamanioFuente(3.5rem);

    max-width: 43%;
    }
}