// .aling-item-center {
//     align-items: center;
// }

// .textoCentrado {
//     text-align: center;
// }

// .oculta {
//     visibility: hidden;
// }

.aling-item-center {
    align-items: map-get($estilosIndividuales, centrado);
}

.textoCentrado {
    text-align: map-get($estilosIndividuales, centrado);
}

.oculta {
    visibility: map-get($estilosIndividuales, oculto);
}



.fija {
    position: fixed;
    top: 0;
    width: 100%;
}

.justificarAR {
    display: flex;
    justify-content: space-around;
}

.justificarBE {
    display: flex;
    justify-content: space-between;
}

.imgResponsive{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
