footer {
    max-width: 100%;
    margin: 0 auto;
    background-color: $colorAzul;
    border-top: $colorNaranja .4rem solid;
    margin-top: 2rem;

    img {
        height: 11rem;
        width: 33rem;
        margin: 0 auto;
        display: block;
    }

    h3 {
        @include tamanioFuente(2.5rem);

        text-align: map-get($estilosIndividuales, centrado );
    }

    p {
        @include tamanioFuente(1.5rem);

    }

    i{
        border: solid 0.3rem $colorBlanco;
        border-radius: 15%;
        padding: 1rem;
        @include tamanioFuente(5rem);

    }

    .icoFacebook{
        @extend i;
        color: #3b5998;
    }

    .iTikTok{
        @extend i;
        color: #ff0050;
    }

    .icoInstagram{
        @extend i;
        color: #795a80 ;

    }

    i:hover {
        color: #F55139;
        transition: all .4s ease;
    }
}