.parallax {
    /* The image used */
    background-image: url(../img/parallax.jpg);

    /* Set a specific height */
    min-height: 90vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: map-get($estilosIndividuales, centrado );
    background-repeat: no-repeat;
    background-size: cover;
}

.ancla:before {
    display: block;
    content: " ";
    margin-top: -134.4px;
    height: 134.4px;
    visibility: hidden;
}

iframe {
    max-width: 100%;
    height: 75%;
}