.queEs {
    hr {
        margin-left: 1rem;
    }

    img {
        margin: 2rem;
    }
}

.requisitos {

    h2,
    li,
    h4 {
        text-align: end;
    }

    hr {
        margin-right: 1rem;
    }

    div {
        margin: 0 1rem;
    }
}

.requisito {
    margin: 1rem 0;
    text-align: map-get($estilosIndividuales, centrado );
}
.tutoriales hr {
    max-width: 40%;
}
.imgRegistro {
    display: block;
    margin: 0 auto;
}
