html,
body {
    @include tamanioFuente(62.5%);
    margin: 0;
    padding: 0;
    background-color: $colorAzul;
    color: $colorBlanco;
    font-family: $tipografiaGeneral;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 134.4px;
}

main {
    max-width: 70%;
    margin: 0 auto;
}

h1,
h2,
h4 {
    font-family: $tipografiaTitulos;
}

h1 {
    @include tamanioFuente(6.5rem);
    max-width: 43%;
    margin: 0;
    padding-top: 3rem;
}

h2 {
    @include tamanioFuente(5rem);

}

h4 {
    @include tamanioFuente(3rem);

    text-align: map-get($estilosIndividuales, centrado );
}

p {
    @include tamanioFuente(1.8rem);

}

ol li {
    @include tamanioFuente(2rem);

    list-style: none;
}

a {
    text-decoration: none;
    color: $colorBlanco;

}

span {
    color: $colorNaranja;
}


hr {
    margin: 4rem auto;
    height: .2rem;
    background-color: $colorNaranja;
    max-width: 75%;
    border: none;
}

i {
    margin: 1rem;
    @include tamanioFuente(5rem);

}

form {
    height: 75vh;
}


section img {
    display: inline;
}